header{
    background-color: #9E9E9E;
    text-align: center;
}
h1{
    text-align: center;
    color: #F44336;    
}
h2{
    color: #3F51B5;
}
section{
    background-color: #E66E9C;
}
a{
    color: #009688;
    background-color: #FFF590;
}
img{
    display: none;
}
.whole{
    clear: both;
}